<section class="carousel-items">
	<div class="content">

		<button class="prev-btn" (click)="movePrev()">
			<svg width="32" height="32" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" fill="#000000">
			  <g>
			    <path d="M 12.3,17.71l 6.486,6.486c 0.39,0.39, 1.024,0.39, 1.414,0c 0.39-0.39, 0.39-1.024,0-1.414L 14.418,17 L 20.2,11.218c 0.39-0.39, 0.39-1.024,0-1.414c-0.39-0.39-1.024-0.39-1.414,0L 12.3,16.29C 12.104,16.486, 12.008,16.742, 12.008,17 C 12.008,17.258, 12.104,17.514, 12.3,17.71z">
			    </path>
			  </g>
			</svg>
		</button>

		<div class="myslides">
		  <ks-swiper-container [options]="example1SwipeOptions">
		    <ks-swiper-slide *ngFor="let s of [1,2,3,4,5,6,7,8,9]">
					<div class="box-item">
			      <img src="http://placehold.it/60{{s}}x60{{s}}">
						<div class="box-text">
							<h2>Iternational Space Station</h2>
							<p>
								Lorem ipsum dolor sit amet, consectetur adipisicing elit,
								sed do eiusmod tempor.
							</p>
						</div>
					</div>
		    </ks-swiper-slide>
		  </ks-swiper-container>
		</div>

		<button class="next-btn" (click)="moveNext()">
			<svg width="32" height="32" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" fill="#000000">
			  <g>
			    <path d="M 13.8,24.196c 0.39,0.39, 1.024,0.39, 1.414,0l 6.486-6.486c 0.196-0.196, 0.294-0.454, 0.292-0.71 c0-0.258-0.096-0.514-0.292-0.71L 15.214,9.804c-0.39-0.39-1.024-0.39-1.414,0c-0.39,0.39-0.39,1.024,0,1.414L 19.582,17 L 13.8,22.782C 13.41,23.172, 13.41,23.806, 13.8,24.196z">
			    </path>
			  </g>
			</svg>
		</button>

	</div>
</section>
